<div class="container mt-5">
  <div class="row mb-5">
    <h1 class="text-center">Login</h1>
  </div>
  <div class="row">

    <div class="col-md-6 mx-auto">
      <form action="/" method="POST">
        <div class="mb-4">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" aria-describedby="passwordHelp">
          <div id="passwordHelp" class="form-text">輸入數字+英文字母大小寫5位或以上</div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary mt-4  text-center">登入</button>
        </div>
      </form>

    </div>
  </div>
</div>